In [2]:
import numpy as np

### Broadcasting

In [3]:
my_3D_array = np.arange(70)
my_3D_array.shape = (2, 7, 5)
my_3D_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

### Attribute to the arrays
1. Shape: .shape
2. Dimensions: .ndim
3. Number of elements: .size
4. Data Type: dtype

In [4]:
# shape
my_3D_array.shape

(2, 7, 5)

In [5]:
# number of dimensions
my_3D_array.ndim

3

In [6]:
#size, the number of elements
my_3D_array.size

70

In [7]:
my_3D_array.dtype

dtype('int64')

In [8]:
# Broadcast using scalars
5 * my_3D_array - 2

array([[[ -2,   3,   8,  13,  18],
        [ 23,  28,  33,  38,  43],
        [ 48,  53,  58,  63,  68],
        [ 73,  78,  83,  88,  93],
        [ 98, 103, 108, 113, 118],
        [123, 128, 133, 138, 143],
        [148, 153, 158, 163, 168]],

       [[173, 178, 183, 188, 193],
        [198, 203, 208, 213, 218],
        [223, 228, 233, 238, 243],
        [248, 253, 258, 263, 268],
        [273, 278, 283, 288, 293],
        [298, 303, 308, 313, 318],
        [323, 328, 333, 338, 343]]])

In [12]:
# Treat Array as matrices
left_mat = np.arange(6).reshape(2,3)
print(left_mat)
right_mat = np.arange(15).reshape(3,5)
print (right_mat)

[[0 1 2]
 [3 4 5]]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

In [13]:
np.inner(left_mat, right_mat)

ValueError: shapes (2,3) and (5,3) not aligned: 3 (dim 1) != 5 (dim 0)

### Numpy Inner
https://docs.scipy.org/doc/numpy/reference/generated/numpy.inner.html<br>
Ordinary inner product of vectors for 1-D arrays <br> 
Matrix product should use np.dot function <br>
https://docs.scipy.org/doc/numpy/reference/generated/numpy.dot.html <br>

In [15]:
np.dot(left_mat, right_mat)

array([[ 25,  28,  31,  34,  37],
       [ 70,  82,  94, 106, 118]])

### Operations along axes

In [16]:
my_3D_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [18]:
my_3D_array.shape

(2, 7, 5)

In [19]:
my_3D_array.sum()

2415

In [20]:
np.sum(my_3D_array)

2415

In [26]:
#Verify the sum with original Python
x = 0
for i in range(70):
    x += i
x

2415

In [27]:
np.sum(my_3D_array, axis = 0)
# sum along x axis

array([[ 35,  37,  39,  41,  43],
       [ 45,  47,  49,  51,  53],
       [ 55,  57,  59,  61,  63],
       [ 65,  67,  69,  71,  73],
       [ 75,  77,  79,  81,  83],
       [ 85,  87,  89,  91,  93],
       [ 95,  97,  99, 101, 103]])

In [28]:
np.sum(my_3D_array, axis = 1)
# sum along y axis

array([[105, 112, 119, 126, 133],
       [350, 357, 364, 371, 378]])

In [29]:
np.sum(my_3D_array, axis = 2)

array([[ 10,  35,  60,  85, 110, 135, 160],
       [185, 210, 235, 260, 285, 310, 335]])

### Broadcasting Rules

In [34]:
my_2D_array = np.ones(35, dtype="int_").reshape((7,5)) * 3
my_2D_array

array([[3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3]])

In [35]:
my_random_2D_array = np.random.random((7,5))
my_random_2D_array

array([[ 0.00799995,  0.02049264,  0.99851511,  0.53750633,  0.35112449],
       [ 0.87612144,  0.83398516,  0.19286377,  0.21983356,  0.67348765],
       [ 0.29459981,  0.84774665,  0.5420076 ,  0.60544718,  0.16027315],
       [ 0.79484752,  0.16209957,  0.73729233,  0.35544144,  0.04898651],
       [ 0.69273271,  0.11097126,  0.63216422,  0.85710067,  0.98668331],
       [ 0.2825725 ,  0.22898725,  0.78169577,  0.77330998,  0.18512011],
       [ 0.95762087,  0.23444882,  0.33760063,  0.61169824,  0.71785414]])

In [37]:
np.set_printoptions(precision=2)
my_3D_array * my_random_2D_array

array([[[  0.00e+00,   2.05e-02,   2.00e+00,   1.61e+00,   1.40e+00],
        [  4.38e+00,   5.00e+00,   1.35e+00,   1.76e+00,   6.06e+00],
        [  2.95e+00,   9.33e+00,   6.50e+00,   7.87e+00,   2.24e+00],
        [  1.19e+01,   2.59e+00,   1.25e+01,   6.40e+00,   9.31e-01],
        [  1.39e+01,   2.33e+00,   1.39e+01,   1.97e+01,   2.37e+01],
        [  7.06e+00,   5.95e+00,   2.11e+01,   2.17e+01,   5.37e+00],
        [  2.87e+01,   7.27e+00,   1.08e+01,   2.02e+01,   2.44e+01]],

       [[  2.80e-01,   7.38e-01,   3.69e+01,   2.04e+01,   1.37e+01],
        [  3.50e+01,   3.42e+01,   8.10e+00,   9.45e+00,   2.96e+01],
        [  1.33e+01,   3.90e+01,   2.55e+01,   2.91e+01,   7.85e+00],
        [  3.97e+01,   8.27e+00,   3.83e+01,   1.88e+01,   2.65e+00],
        [  3.81e+01,   6.21e+00,   3.60e+01,   4.97e+01,   5.82e+01],
        [  1.70e+01,   1.40e+01,   4.85e+01,   4.87e+01,   1.18e+01],
        [  6.22e+01,   1.55e+01,   2.26e+01,   4.16e+01,   4.95e+01]]])

In [38]:
my_vector = np.arange(5) * 7
my_vector[0] = -1
my_vector

array([-1,  7, 14, 21, 28])

In [39]:
my_3D_array / my_vector

array([[[ -0.  ,   0.14,   0.14,   0.14,   0.14],
        [ -5.  ,   0.86,   0.5 ,   0.38,   0.32],
        [-10.  ,   1.57,   0.86,   0.62,   0.5 ],
        [-15.  ,   2.29,   1.21,   0.86,   0.68],
        [-20.  ,   3.  ,   1.57,   1.1 ,   0.86],
        [-25.  ,   3.71,   1.93,   1.33,   1.04],
        [-30.  ,   4.43,   2.29,   1.57,   1.21]],

       [[-35.  ,   5.14,   2.64,   1.81,   1.39],
        [-40.  ,   5.86,   3.  ,   2.05,   1.57],
        [-45.  ,   6.57,   3.36,   2.29,   1.75],
        [-50.  ,   7.29,   3.71,   2.52,   1.93],
        [-55.  ,   8.  ,   4.07,   2.76,   2.11],
        [-60.  ,   8.71,   4.43,   3.  ,   2.29],
        [-65.  ,   9.43,   4.79,   3.24,   2.46]]])

In [40]:
my_3D_array % my_vector

array([[[ 0,  1,  2,  3,  4],
        [ 0,  6,  7,  8,  9],
        [ 0,  4, 12, 13, 14],
        [ 0,  2,  3, 18, 19],
        [ 0,  0,  8,  2, 24],
        [ 0,  5, 13,  7,  1],
        [ 0,  3,  4, 12,  6]],

       [[ 0,  1,  9, 17, 11],
        [ 0,  6,  0,  1, 16],
        [ 0,  4,  5,  6, 21],
        [ 0,  2, 10, 11, 26],
        [ 0,  0,  1, 16,  3],
        [ 0,  5,  6,  0,  8],
        [ 0,  3, 11,  5, 13]]])

### Creating Structured Arrays