In [28]:
import numpy as np
import pandas as pd

In [29]:
## Import psycopg2
import psycopg2 as pg2
## Create connection
conn = pg2.connect(dbname='AVA', user='postgres', host='localhost', password='Isaac800')
## Establish cursor
cur = conn.cursor()

In [30]:
## SQL command
sql_command = 'SELECT * FROM "NOPAT%"'
sql_command = sql_command.upper()
cur.execute(sql_command)

In [36]:
## display the result of the command
df_1 = cur.fetchall()

IndexError: list index out of range

In [16]:
cur.fetchmany(5)
## can also use cur.fetchall()

[(0,
  'Wal-Mart Stores, Inc. (NYSE:WMT)',
  'NYSE:WMT',
  'United States',
  None,
  'Hypermarkets and Super Centers',
  'Services',
  'Retail',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '4% ',
  '3% '),
 (1,
  'Toyota Motor Corporation (TSE:7203)',
  'TSE:7203',
  'Japan',
  'Asia-Pacific',
  'Automobile Manufacturers',
  'Auto & Transportation',
  'Auto OEM',
  '3% ',
  '3% ',
  '3% ',
  '3% ',
  '2% ',
  '4% ',
  '5% ',
  '6% ',
  '5% ',
  '5% ',
  '6% ',
  '5% ',
  '(2%)',
  '0% ',
  '1% ',
  '1% ',
  '4% ',
  '6% ',
  '7% ',
  '7% ',
  '6% ',
  '6% '),
 (2,
  'Volkswagen Aktiengesellschaft (XTRA:VOW3)',
  'XTRA:VOW3',
  'Germany',
  'Europe',
  'Automobile Manufacturers',
  'Auto & Transportation',
  'Auto OEM',
  '(1%)',
  '(0%)',
  '(1%)',
  '2% ',
  '3% ',
  '3% ',
  '1% ',
  '(0%)',
  '1% ',
  '3% ',
  '4% ',
  '3% ',
  '(0%)',
  '4% ',
  '5% ',
  '4% ',
  '4% ',
  '4% ',
  '3% ',
  'NA ',
  '5% ',
  '5% '),
 (3,
  'Royal Dutch Shell plc (ENXTAM:RDSA)',
  'ENXTAM:RDSA',
  'Netherlands',
  'Europe',
  'Integrated Oil and Gas',
  'Resources/Process Material',
  'Oil & Gas',
  '5% ',
  '2% ',
  '7% ',
  '7% ',
  '6% ',
  '4% ',
  '5% ',
  '4% ',
  '6% ',
  '6% ',
  '6% ',
  '4% ',
  '3% ',
  '3% ',
  '4% ',
  '3% ',
  '2% ',
  '2% ',
  '(1%)',
  'NA ',
  '1% ',
  '1% '),
 (4,
  'Apple Inc. (NasdaqGS:AAPL)',
  'NasdaqGS:AAPL',
  'United States',
  None,
  'Technology Hardware, Storage and Peripherals',
  'TIME',
  'Tech HW Equipment',
  '(6%)',
  '4% ',
  '5% ',
  '3% ',
  '(6%)',
  '0% ',
  '0% ',
  '3% ',
  '8% ',
  '8% ',
  '12% ',
  '13% ',
  '15% ',
  '21% ',
  '24% ',
  '26% ',
  '21% ',
  '21% ',
  '22% ',
  '21% ',
  '21% ',
  '21% ')]

In [17]:
## Close connection
conn.close()

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Isaac800@localhost:5432/AVA')
#df.to_sql('table_name', engine)

In [ ]:
file_1 = pd.read_csv("C:\\SQLBootcamp\\test\\COGS.csv", encoding="latin-1")
file_1.to_sql("COGS", engine)

In [ ]:
file_1 = pd.read_csv("C:\\SQLBootcamp\\test\\NOPAT%.csv", encoding="latin-1")
file_1.to_sql("NOPAT%", engine)

In [ ]:
pwd

In [ ]:
file_1.head()